* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: seashell;
}
a:hover {
    color:powderblue;
}
h1 {
    font-size: 80px;
    margin: 0;
    color: #292b3f;
}
p {
    font-size: 30px;
    margin: 0;
    padding-left: 300px;
    font-weight: 200;
}
span {
    color:  seashell;
}

/* HERO nav section*/
#list-vertical {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.hero {
    min-height:100vh;
    background-color: darkorange;
    /* background-color: rgb(0, 255, 72); */
}
.hamburger {
    display: none;
}
.hamburger:focus{
    outline: 0;
}
nav {
    display: flex;
    justify-content: space-between;
}

 #nav-en, #nav-cs {
    display:flex;
}
#lang {
    margin: 4px;
    color: seashell;
}
#lang:hover {
    margin: 4px;
    color:powderblue;
    cursor: pointer;
}
#altLang:hover {
     color:powderblue;
     cursor: pointer;
}
ul {
    margin: 5px 30px;
    list-style: none;
    display: flex;
    font-size: 30px;
}
ul li {
     padding-left: 40px;
}
li:last-of-type {
    display: none;
}

/* HERO content */
#headerSub-imgs {
    position: relative;
}
.frameimgsmall {
    position: absolute;
    /* top: -50px; */
    top: 10px;
    /* left: 560px; */
    left: 10px;
    height: 40px;
    width: 30px;
    background-color: rgba(204, 210, 20, 0.644);
    margin: 3px;
    background-image:url("../img/superpancutbetterS.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .frameimgbig {
    position: absolute;
    /* top: -320px; */
    /* left: 560px; */
    top: -250px;
    left: 20px;
    height: 260px;
    width: 220px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px;
    cursor: pointer;
    background-image:url("../img/superpancutbetter.png");
  }
#headerSub {
    margin: 300px 100px 100px;
}
#headerSub-content {
    display: flex;
}
#headerSub-text{
    font-size: 30px;
    margin: 0 400px;
    font-weight: 200;
}
/* alter sub header */
#headAndImgs {
display: flex;
}
#headerSub-imgs {
position: relative;
}
/*? popout gitHub */

#invisibleGit {
    color: transparent;
}
.git-box {
    position: relative;
    width:90px;
    overflow: hidden;
    height: 35px;
    background: transparent;
    color: seashell;
}
.git-box, .git-text {
    font-size: 30px;
    padding: 5px 5px 5px 0;
    align-items: center;
    display: flex;
}
.git-box .git-text {
    position:absolute;
    inset: 0;
    justify-content:left;
    transition: 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.653);
    border-radius: 0 5px 5px 0;
}
.git-box .git-text.right {
    transform: translateX(-100%);
}
.git-box:hover .git-text.right {
   transform: translateX(0);
}
@media only screen and (max-width: 1350px) {
nav {
    height: 27%;
    flex-direction: row-reverse;
}
#list-vertical {
   width: 70px;
}
ul li:last-of-type {
    display: block;
    padding: 50px 4px 4px 0;
    text-align: right;
    color: darkorange;
    font-size: 18px;
    cursor: pointer;
}
.hamburger {
    display: block;
    border: 0;
    background-color: rgba(255, 255, 255, 0.653);
    color: white;
    font-size: 27px;
    padding: 10px 10px 6.5px 8px;
    margin: 10px;
    align-self: flex-start;
    z-index: 1;
}
.hamburger:hover {
    color:powderblue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#lang a {
    display: none;
}
#lang  {
    display: none;
}
ul {
    display: none;
}
ul.show {
    display: block;
    text-align: left;
    width: 170px;
    height: 187px;
    margin: 0 30px 0 8px;
    padding-right: 7px;
    background-color: rgba(255, 255, 255, 0.653);
    border-radius: 0 0 4px 4px;
}
ul.show li {
    padding-left: 5px;
}
ul li:last-of-type {
    padding-top: 40px;
    /* display: none; */
}

#headerSub {
    margin: 153.5px 100px 99.5px;
}

}
@media only screen and (max-width: 1030px){
    .hamburger {
        padding: 5px 5px 3px 4px;
        font-size: 20px;

    }
    #list-vertical {
        width: 50px;
     }

ul.show {
    width: 140px;
    height: 150px;
    font-size:x-large;
    margin-right: 20px;
    text-align: left;
}
ul li {
    padding-left: 10px;
}
li:first-of-type button {
    display: none;
}
ul li:last-of-type a{
    font-size: 16px;
}

h1 {
    font-size: 70px;
}
#headerSub-text{
    font-size: 26px;
    margin-left: 350px;
}
#headerSub {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
  .frameimgbig {
    top: -230px;
    height: 220px;
    width: 180px;
  }
}
@media only screen and (max-width:830px) {
#headerSub {
    margin-left: 25px;
}
h1 {
    font-size: 60px;
}
#headerSub-text{
    font-size: 20px;
    margin-left: 300px;
}
.frameimgbig {
    top: -200px;
    height: 180px;
    width: 150px;
}
}
@media only screen and (max-width: 670px){
#headerSub {
    margin-left: 20px;
}
h1 {
    font-size: 50px;
}
 .frameimgbig {
    left: -50px;
}
#headerSub-text{
    margin-left: 105px;
}
}
@media only screen and (max-width: 470px){

ul li:last-of-type {
    text-align: left;
    padding-top: 23px;
    color: seashell;
    font-size: 12px;
}
.frameimgbig {
    left: -150px;
    }
.frameimgsmall {
    top: -30px;
    left: -5px;
    height: 30px;
    width: 25px;
}
h1 {
    margin-left: 4px;
    font-size: 40px;
}
ul.show, .hamburger{
    background-color: transparent
}
#headerSub {
    margin-left: 0;
}
#headerSub-text{
    margin-left: 6px;
    font-size: 17px;
}
}

/* ABOUT */
#about, #aboutCs{
    /* display: flex;
    align-items: center; */
    min-height: 100vh;
    position: relative;
    /* padding-bottom: 30px; */
    /* padding-bottom: 70px; */
    padding: 70px 0;
}
/* #aboutCs .aboutsub-half img {
    top: 750px;
} */
.aboutsub-half1 pre {
    padding: 50px 0 30px;
    /* margin-left: 80px; */
    margin: auto;
    font-size: 32px;
}
.aboutsub-half img {
    position: absolute;
    top: 30px;
    right: 50px;
}
.up {
    position: absolute;
    right: 15px;
    font-size: 25px;
    margin-top: 15px;
}
#about .up,#aboutCs .up {
    margin-top: -56px;
}
#about i, #aboutCs i {
    color: darkorange;
}
#about i:hover, #projects i:hover, #aboutCs i:hover {
    color: #69a070;
}
pre span {
    color: darkred;
}
.blue {
    color: cadetblue;
}

    .aboutsub-half2 {
    display: none;
}

.svetlik {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.mistr {
    font-size: 12px;
    margin-left: 0;
    padding: 0;
    /* padding: 0 0 10px 0; */
}

#about .mistr, #aboutCs .mistr {
    /* font-size: 14px; */
    color: darkcyan;
}

@media only screen and (max-width: 1405px) {
    .aboutsub-half1 pre{
    font-size: 30px;
}
    .aboutsub-half img {
    width: 250px;
}
}
@media only screen and (max-width: 1200px) {
    .aboutsub-half1 pre{
    font-size: 25px;
    padding-top: 140px;
}
    .aboutsub-half img {
    top: 30px;
    right: 30px;
    width: 220px;
}
}
@media only screen and (max-width: 900px) {
    .aboutsub-half img {
    width: 150px;
}
.aboutsub-half1  pre {
    font-size:22px;
    margin-left: 30px;

}

}
@media only screen and (max-width: 730px) {

.aboutsub-half img {
    width: 120px;
}
.aboutsub-half1 pre{
    font-size:16px;
    padding-left: 10px;
    margin-left: 30px;
}
}
@media only screen and (max-width: 550px) {
    .aboutsub-half1 pre{
    margin-left: 0px;
    font-size:15px;

}
}

@media only screen and (max-width: 490px) {
    .aboutsub-half1 {
    display: none;
}
    .aboutsub-half2 {
    display: block;
    font-size: 16px;
    padding: 100px 0 0 22px;
}
    .aboutsub-half img {
    top: 30px;
    right: 0px;
}
}


@media only screen and (max-width: 385px) {
    .aboutsub-half img {
    top: 40px;
    width: 90px;
}
.aboutsub-half2 {
    padding: 100px 0 0 8px;
    font-size: 14px;

}
}

@media only screen and (max-width: 340px) {
    .svetlik {
        left: 10px;
    }
    
}

    /* PROJECTS */
#projects, #projectsCs {
    background-color: darkcyan;
    position: relative;
}

.projectBoxOne,.projectBoxTwo {
    padding-bottom: 190px;
    display: flex;
    justify-content:space-around;
}

#projects .up {
    position: absolute;
    top:0px;
    color: black;
}
#projects h2, #projectsCs h2 {
    font-size: 50px;
    color: seashell;
    text-align: center;
    letter-spacing: 50px;
    padding: 50px 0 70px;
}
#projects h3, #projectsCs h3 {
    font-size: 30px;
    color: seashell;
    text-align: center;
    letter-spacing: 40px;
    padding: 20px 0 80px;
}
.projectPic{
    height: 350px;
    width: 600px;
    background-color: #fff;
    background-size:cover;
    margin: 10 5px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
}
.projectInfo{
    height: 350px;
    width: 200px;
    background-color: #fff;
    font-family: monospace;
}
.projectInfo p {
    padding: 8px;
    font-size: 18px;
}

@media only screen and (max-width: 1330px) {
.projectBox {
    padding: 5px;
}
.projectBoxOne {
    flex-direction: column;
}
.projectBoxTwo {
    flex-direction: column-reverse;
}
.projectInfo {
    width:600px;
    height: 160px;
}

.projectPic, .projectInfo {
    margin: 10px auto;
}
#projects h3, #projectsCs h3 {
    letter-spacing: 20px;
    font-size: 30px;
}

}
@media only screen and (max-width: 960px) {

    #projects h2, #projectsCs h2 {
    letter-spacing: 40px;
    font-size: 40px;
}

}
@media only screen and (max-width: 730px){

.projectPic,.projectPic img {
    width: 400px;
    height: 200px;
}
.projectInfo {
    width:400px;
    height: 180px;
}
.projectInfo p {
    font-size: 18px;
}
#projects h3, #projectsCs h3 {
    letter-spacing: 12px;
    font-size: 22px;
}

}

@media only screen and (max-width: 540px){
.projectPic img {
    width: 300px;
    height: 160px;
}
.projectPic {
    width:300px;
    height: 160px;
}
.projectInfo {
    width:300px;
    height: 220px;
}
.projectInfo p {
    font-size: 16px;
}
#projects h3, #projectsCs h3 {
    letter-spacing: 8px;
    font-size: 21px;
}
#projects h2, #projectsCs h2 {
    letter-spacing: 20px;
    font-size: 25px;
}

}
@media only screen and (max-width: 430px){
.projectPic img {
    width: 290px;
    height: 160px;
}
.projectPic {
    width:290px;
    height: 160px;
}
.projectInfo {
    width:290px;
    height: 160px;
}
.projectInfo p {
    font-size: 14px;
}

}
/* CONTACT */
      #contactCs, #contact{
    position: relative;
    background-color:#1c1d25;
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: seashell;
    text-align: center;
    align-items: center;
}
.footbox {
    margin: auto 0;
}
#topfoot, #topfootCs {
    /* display: flex;
    align-items: center; */
    /* height: 50%; */
    padding-bottom: 10%;
} 
footer .up {
    top: 15px;
}
#infobox {
   display: flex;
   flex-direction: column;
   color: seashell;
   text-align: center;
   align-items: center;
}
.foothead h2 {
/* padding: 80% 0 0; */
align-items:center;
font-size: 50px;
}

#contact span {
    font-size: 20px;
   /* padding-bottom: 70%; */

}

#kontaktspan {
     height: 50%;
}


@media only screen and (max-width: 1030px) {
        footer .up {
            display: block;
    }
}
@media only screen and (max-width: 480px){
    #infobox {
        font-size: 20px;
    }
    #contact .mistr, #contactCs .mistr {
      font-size: 11px;
      padding: 0 30px 10px;
    }
}

@media only screen and (max-width: 380px){
    #contact .mistr, #contactCs .mistr {
        font-size: 10px;
        padding: 0 50px 10px;
    }
    
  }
  